<body>
    <div class="fullbox">
        <div class="mainbox" (scroll)="onScroll($event)">
            <div id="profilbilleder">
                <img id="background" alt="Amper" src="assets/img/test2cover.png" height="100%" width="100%">
                <img id="logo" alt="Amper" src="assets/img/AmperLogo - Darker.png" height="120px">
                <label id="profilnavn">Amper</label>
            </div>
            <div id="profilinfo">
                <div id="beskrivelsebox">
                    <label id="beskrivelse">Egen beskrivelse</label>
                </div>
                <button id="følgknap" class="button">Følg</button> <br>
                <div id="infocontainer">
                    <div id="landbox">
                        <label id="by">By, Land</label>
                    </div>
                    <div id="følgerebox">
                        <label id="følgere">Følgere 2,3 mio.</label>
                    </div>
                    <div id="følgerbox">
                        <label id="følger">Følger 2</label>
                    </div>
                </div>
                <button id="besked" class="button" (click)="Beskeder()">Send besked</button>
            </div>
            <div id="opslagContainer">
                <ul *ngIf="posts">
                    <li *ngFor="let post of posts; let i = index">
                        <div id="opslag" >
                            <button onclick="" id="gotoprofile" routerLink="/profil/{{post.posterid}}" class="opslagButton"><img id="profilbilled"
                                    alt="Profilbilled" src="assets/img/AmperLogo - Darker.png" height="60px"
                                    ></button>
                            <label id="profilnavnopslag" routerLink="/profil/{{post.posterid}}">{{post.postername}}</label> <br>
                            <div id="opslagindhold">
                                <p id="opslagtext{{i}}" class="opslagText">{{post.post}}</p> <br>
                            </div>
                            <div id="opslagreaktioner">
                                <div id="likebox">
                                    <button id="likeopslag" class="opslagButton"><img id="like" alt="Like"
                                            src="assets/img/Like.png" height="20px"><img class="lite" alt="LikeLite"
                                            src="assets/img/Like-Lite.png" height="20px" (click)="Like(post.PostID, i)"></button>
                                    <p id="likeCount{{i}}">{{post.likes}}</p>
                                </div>
                                <div id="kommentarbox">
                                    <button id="kommenteropslag" class="opslagButton"><img id="kommentar"
                                            alt="Kommentar" src="assets/img/Kommentar.png" height="18px"><img
                                            class="lite kommentarLite" alt="KommentarLite" src="assets/img/Kommentar-Lite.png"
                                            height="18px"></button>
                                    <p id="commentCount{{i}}">{{post.comments}}</p>
                                </div>
                                <div id="delbox">
                                    <button id="delopslag" class="opslagButton"><img id="del" alt="Del"
                                            src="assets/img/Del.png" height="20px"><img class="lite" alt="KommentarLite"
                                            src="assets/img/Del-Lite.png" height="20px" (click)="Amp(post.PostID, i)"></button>
                                    <p id="ampCount{{i}}">{{post.amps}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</body>