<body>
    <div class="fullbox">
        <div class="mainbox">
            <div id="profilbilleder">
                <img id="background" alt="Amper" src="assets/img/test2cover.png" height="100%" width="100%">
                <img id="logo" alt="Amper" src="assets/img/AmperLogo - Darker.png" height="120px">
                <label id="profilnavn">Profil navn</label>
            </div>
            <div id="profilinfo">
                <div id="beskrivelsebox">
                    <label id="beskrivelse">Egen beskrivelse</label>
                </div>
                <button id="følgknap">Følg</button> <br>
                <div id="infocontainer">
                    <div id="landbox">
                        <label id="by">By, Land</label>
                    </div>
                    <div id="følgerebox">
                        <label id="følgere">Følgere 2,3 mio.</label>
                    </div>
                    <div id="følgerbox">
                        <label id="følger">Følger 2</label>
                    </div>
                </div>
                <button id="besked">Send besked</button>
            </div>
            <div id="opslag">
                <img id="profilbilled" alt="Profilbilled" src="assets/img/AmperLogo - Darker.png" height="60px">
                <img id="like" alt="Like" src="assets/img/Like.png" height="35px">
                <img id="kommentar" alt="Kommentar" src="assets/img/Kommentar.png" height="35px">
                <img id="del" alt="Del" src="assets/img/Del.png" height="35px">
            </div>
        </div>
    </div>
</body>