$text: #ececec;
$black: #000000;
$darkGray: #2a2a2a;
$midGray: #414141;
$lightGray: #525252;
$orange: #ff803c;

body {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 18px;
  padding: 0;
}

.navbar {
  background: $lightGray;
  // overflow: hidden;
  width: 100%;
//   padding-top: -1em;
  position: fixed;

  .navButton {
    float: left;
    color: $text;
    text-decoration: none;
    padding: 1em 2em;
    margin: 0px .5px .5px .5px;
    background-color: $darkGray;

    &:hover {
      background: lighten($darkGray, 5%);
      transition: 500ms;
    }
  }

  .center {
    margin: 0em 30em ;
      
      input {
        width: 400px !important;
      }
  }

  .right {
    float: right;

}

#settings {
    padding: .26em 1em !important;
}
  img {
    margin-top: 6px;
    vertical-align: middle;
  }

  // a.logo {
  //     margin-left: 10em;
  //     vertical-align: middle;
  // }

  // nav {

  //     ul {
  //         list-style-type: none;
  //         margin: .5em 0px 0px 0px;
  //         display: flex;
  //         padding: 0;

  //         li a {
  //             padding: 1em 2em;
  //             margin: .5px;
  //             background-color: $darkGray;
  //             border: 0px .5px solid $lightGray;
  //             &:hover {
  //                 background: lighten($darkGray, 5%);
  //                 transition: 500ms;
  //             }
  //         }
  //     }
  // }
}
