<mat-toolbar class="navBar" *ngIf="router != '/'" scroll="no">
  <button type="button" class="navBar" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">
      <a routerLink="/" (click)="drawer.close()"><img alt="Amper" src="assets/img/AmperLogo.png" height="45px" class="søgeFeltLogo" /></a>
  </div>
  <div class="center">
    <mat-form-field class="søgeFelt">
      <!-- <mat-label>Søg</mat-label> -->
      <input matInput placeholder="Søg" type="text"/>
    </mat-form-field>
  </div>
</mat-toolbar>
 
<mat-drawer-container class="sideNavContainer" hasBackdrop="false" scroll="no" autosize (click)="drawer.close()">
  <mat-drawer #drawer class="sideNav" mode="over"> 
    <!-- [openedSubject]="openedSubject" -->
    <button class="navKnap" (click)="Profil(); drawer.toggle();">Profil</button> <br>
    <button class="navKnap" routerLink="/forside" (click)="drawer.toggle()">Forside</button> <br>
    <button class="navKnap" routerLink="/beskeder" (click)="drawer.toggle()">Beskeder</button> <br>
    <button class="navKnap" routerLink="/indstillinger" id="settings" (click)="drawer.toggle()">Indstillinger</button> <br>
    <button class="navKnap" (click)="ClearStorage(); drawer.toggle();" routerLink="/">Log ud</button> <br>

  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>