<body>
    <div class="fullbox">
        <div class="mainbox">
            <div class="opslagMenu">
                <button class="opslagHome" routerLink="/forside">Home
                </button>
                <button class="opslagHome" routerLink="/discover">Discover
                </button>
            </div>
            <div id="createOpslag">
                <p class="createText">Lav opslag</p>
                <textarea class="lavOpslag" placeholder="What's happening?" id="postText"></textarea>
                <button class="sendOpslag" (click)="CreatePost()">Send</button>
            </div>
            <div id="opslagContainer">
                <ul *ngIf="posts">
                    <li *ngFor="let post of posts">
                        <div id="opslag">
                            <button id="gotoprofile" routerLink="/profil" class="opslagButton"><img id="profilbilled"
                                    alt="Profilbilled" src="assets/img/AmperLogo - Darker.png" height="60px"></button>
                            <label id="profilnavnopslag">{{post.postername}}</label> <br>
                            <div id="opslagindhold">
                                <p id="opslagtext">{{post.post}}</p><br>
                            </div>
                            <div id="opslagreaktioner">
                                <div id="likebox">
                                    <button id="likeopslag" class="opslagButton"><img id="like" alt="Like"
                                            src="assets/img/Like.png" height="20px"><img class="lite" alt="LikeLite"
                                            src="assets/img/Like-Lite.png" height="20px"></button>
                                    <p>{{post.likes}}</p>
                                </div>
                                <div id="kommentarbox">
                                    <button id="kommenteropslag" class="opslagButton"><img id="kommentar"
                                            alt="Kommentar" src="assets/img/Kommentar.png" height="18px"><img
                                            class="lite" alt="KommentarLite" src="assets/img/Kommentar-Lite.png"
                                            height="18px"></button>
                                    <p>{{post.comments}}</p>
                                </div>
                                <div id="delbox">
                                    <button id="delopslag" class="opslagButton"><img id="del" alt="Del"
                                            src="assets/img/Del.png" height="20px"><img class="lite" alt="KommentarLite"
                                            src="assets/img/Del-Lite.png" height="20px"></button>
                                    <p>{{post.amps}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>