<body scroll="no">
    <div class="fullbox" scroll="no">
        <div class="mainbox" scroll="no">
            <div class="opslagMenu">
                <button class="opslagHome" routerLink="/forside">Home
                </button>
                <button class="opslagHome" routerLink="/discover">Discover
                </button>
            </div>
            <div id="createOpslag">
                <!-- <p class="createText">Lav opslag</p>
                <textarea class="lavOpslag" placeholder="What's happening?" id="postText"></textarea>
                <button class="sendOpslag" (click)="CreatePost()">Send</button> -->

                <form [formGroup]="postForm" (submit)="CreatePost()">
                    <mat-form-field color="accent" appearance="outline" style="margin-bottom: -1.25em">
                        <mat-label>whats on your mind</mat-label>
                        <textarea matInput #post maxlength="256" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" formControlName="postText"></textarea>
                        <mat-hint align="start">{{ post.value.length }} / 256</mat-hint>
                    </mat-form-field>
                    <div>
                        <mat-chip-list *ngIf="imageName">
                            <mat-chip [selectable]="selectable" (removed)="removeImage()">{{imageName}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                        </mat-chip-list>
                        <input style="display: none" (change)="onFileChange($event)" #hiddenfileinput type="file" accept="image/*" formControlName="postImage">
                        <button (click)="hiddenfileinput.click()" type="button" class="mat-raised-button fileButton"><mat-icon style="vertical-align: middle">image</mat-icon></button>
                        <button type="submit" class="mat-raised-button">Send</button>
                    </div>
                </form>
            </div>
            <div id="opslagContainer">
                <ul *ngIf="posts">
                    <li *ngFor="let post of posts">
                        <div id="opslag">
                            <button id="gotoprofile" routerLink="/profil" class="opslagButton"><img id="profilbilled"
                                    alt="Profilbilled" src="assets/img/AmperLogo - Darker.png" height="60px"></button>
                            <label id="profilnavnopslag">{{post.postername}}</label> <br>
                            <div id="opslagindhold">
                                <p id="opslagtext" class="opslagText">{{post.post}}</p><br>
                            </div>
                            <div id="opslagreaktioner">
                                <div id="likebox">
                                    <button id="likeopslag" class="opslagButton"><img id="like" alt="Like"
                                            src="assets/img/Like.png" height="20px"><img class="lite" alt="LikeLite"
                                            src="assets/img/Like-Lite.png" height="20px"></button>
                                    <p>{{post.likes}}</p>
                                </div>
                                <div id="kommentarbox">
                                    <button id="kommenteropslag" class="opslagButton"><img id="kommentar"
                                            alt="Kommentar" src="assets/img/Kommentar.png" height="18px"><img
                                            class="lite kommentarLite" alt="KommentarLite" src="assets/img/Kommentar-Lite.png"
                                            height="18px"></button>
                                    <p>{{post.comments}}</p>
                                </div>
                                <div id="delbox">
                                    <button id="delopslag" class="opslagButton"><img id="del" alt="Del"
                                            src="assets/img/Del.png" height="20px"><img class="lite" alt="KommentarLite"
                                            src="assets/img/Del-Lite.png" height="20px"></button>
                                    <p>{{post.amps}}</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>