<body>
    <div id="obox" class="row">
    </div>
    <div id="logininfo" class="row">
        <div>
            <form>
                <input type="text" id="uname" name="uname" placeholder="Username"> <br> <br>
                <input type="password" id="pword" name="pword" placeholder="Password"> <br> <br>
                <button type="button" id="login">Login</button>
            </form>
            <form>
                <label for="signup">Sign up today</label> <br>
                <button type="button" id="sign">Sign up</button>
            </form>
            <form>
                <input type="text" id="newuname" name="newuname" placeholder="Username"> <br>
                <input type="password" id="newpword" name="newpword" placeholder="Password"> <br>
                <input type="password" id="rnewpword" name="rnewpword" placeholder="Retype password">
            </form>
        </div>
    </div>
</body>