@media (max-width: 1200px) {
    .mainbox {
        width: 100% !important;
        margin: 0 !important;
    }

}

.mainbox {
    padding: 1px;
    border: 1px;
    border-color: #ff803c;
    position: relative;
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    height: 100%;
    background-color: #414141;
    overflow: auto;
    margin-top: .2%;
}
.fullbox {
    position: auto;
    // padding-top: 60px;
    background-color: #2a2a2a;
    width: auto;
    height: 100%;
    margin-left: 0;
    // margin-top: 0;
    overflow: hidden;
}

#profilnavn {
    position: absolute;
    top: 120px;
    left: 15px;
    color: white;
    font-weight: 600;
    font-size: 32px;
}
#profilnavnopslag {
    color: white;
}
// #opslag {
//     // position: absolute;
//     display: inline-block;
//     border-radius: 15px;
//     width: 92%;
//     // height: auto;
//     background-color: #525252;
//     margin-left: 2.5%;
//     margin-top: 2.5%;
//     padding: 1.5%;

//     .opslagButton {
//         cursor: pointer;
//         position: relative;
//         display: inline;
//         background-color: #525252;
//         border: 0;
//     }

//     .opslagButton .lite {
//         display: none;
//         position: absolute;
//         top: 0;
//         left: 0;
//         z-index: 99;
//     }

//     .opslagButton:hover .lite {
//         display: inline;
//     }

//     .opslagButton .kommentarLite {
//         top: 1px;
//     }

//     #profilnavnopslag {
//         position: absolute;
//         padding: -3px;
//         margin-top: 1.8%;
//         font-size: 32px;
//         margin-left: 1.8%;
//         font-weight: 600;
//     }

//     .opslagText {
//         height: 100%;
//         margin: 3% 3% 2% 1.5%;
//         color: white;
//         // text-align: left;
//     }

//     #opslagreaktioner {
//         font-size: 20px;
//         font-weight: 600;
//         display: inline;
//         color: #ff803c;
//         p {
//             padding-left: 15px;
//             margin-top: -4%;
//             float: right;
//         }
//     }
//     #likebox {
//         margin-left: 2%;
//         float: left;
//     }
//     #kommentarbox {
//         margin-left: 8%;
//         float: left;
//     }
//     #delbox {
//         margin-left: 8%;
//         float: left;
//     }
// }

// p {
//     float: right;
// }
#bottombox {
    // display: flex;
    // float: ;
    bottom: 0%;
    position: absolute;
    // height: 20%;
}
::-webkit-scrollbar {
    display: none;
}
#opslagContainer {
    margin-bottom: 6em;
}
.opslagMenu {
    width: 100%;
    height: 5%;
    // background-color: limegreen;
}
.opslagHome {
    background-color: #353535;
    width: 50%;
    height: 100%;
    font-weight: 600;
    font-size: 20px;
    // border-radius: 10px;
    border-style: none;

    &:hover {
        cursor: pointer;
        background: lighten(#353535, 5%);
        border: solid 1px #ff803c;
        transition: .5s;
    }
}
#opslagDiscover {
    // border-left: 1px solid black;
    margin-left: 0px;
}