<body>
    <div id="obox" class="row">
            <img id="logo" alt="Amper" src="assets/img/AmperLogo - Darker.png" height="90px">
            <label id="titelText">AMPER</label>
    </div>

    <div id="logininfo" class="row">
        <div>

            <form id="loginForm" [formGroup]="loginForm" (submit)="loginSubmit()">
                <p id="logintext">Login</p>
                <mat-form-field color='accent' class="inputField">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Your username" autocomplete="off" formControlName="loginUsername">

                    <mat-error *ngIf="loginForm.hasError('required','loginUsername')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('minlength','loginUsername')">
                        Minimum length not achieved
                    </mat-error>
                </mat-form-field>

                <mat-form-field color='accent' class="inputField">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Your password" type="password" formControlName="loginPassword">

                    <mat-error *ngIf="loginForm.hasError('required','loginPassword')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="loginForm.hasError('minlength','loginPassword')">
                        Minimum length not achieved
                    </mat-error>
                </mat-form-field>

                <button mat-flat-button type="submit" class="submitButton" [disabled]="loginForm.invalid">Login</button>
            </form>

            <div id="box2">
                <p id="signup">Sign up today</p>
                <button mat-flat-button class="submitButton" onclick="signupForm.style.visibility='visible'; box2.style.marginTop='0%'; box2.style.visibility='hidden'; loginForm.style.marginTop='0%'; loginForm.style.visibility='hidden';">Sign up</button>
            </div>

            <form id="signupForm" [formGroup]="signupForm" (submit)="signupSubmit()">
                <p id="upsign">Sign up today</p>
                <mat-form-field color='accent' class="inputField">
                    <mat-label>Username</mat-label>
                    <input matInput id="newuname" placeholder="Username" autocomplete="off" formControlName="signupUsername">

                    <mat-error *ngIf="signupForm.hasError('required','signupUsername')">
                        Username is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.hasError('minlength','signupUsername')">
                        Minimum length not achieved
                    </mat-error>
                </mat-form-field>

                <mat-form-field color='accent' class="inputField">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" id="newpword" placeholder="Password" formControlName="signupPassword">

                    <mat-error *ngIf="signupForm.hasError('required','signupPassword')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="signupForm.hasError('minlength','signupPassword')">
                        Minimum length not achieved
                    </mat-error>
                </mat-form-field>

                <mat-form-field color='accent' class="inputField">
                    <mat-label>Confirm password</mat-label>
                    <input matInput type="password" id="rnewpword" placeholder="Confirm password" formControlName="signupConFirmPassword" [errorStateMatcher]="matcher">
                    
                    <mat-error *ngIf="signupForm.hasError('notSame')">
                        Passwords does not match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button type="submit" class="submitButton" [disabled]="signupForm.invalid" onclick="signupForm.style.visibility='hidden'; box2.style.marginTop='20%'; box2.style.visibility='visible'; loginForm.style.marginTop='30%'; loginForm.style.visibility='visible';">Submit</button>
            </form>
        </div>
    </div>
</body>