@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

$text: #ececec;
$black: #000000;
$darkGray: #2a2a2a;
$midGray: #414141;
$lightGray: #525252;
$orange: #ff803c;


* {
    font-family: 'Open Sans Condensed', sans-serif;
    outline: none;
    margin: 0;
    font-size: 18px;
    padding: 0;
}

.textInput {
    padding: 4px !important;
    padding-bottom: 7px !important; 
    font-size: 18px;
    width: 200px;
    background-color: transparent;
    border: none;
    border-bottom: $text solid 2px;
    color: $text;
 
        &:focus {
            outline: none;
            border-bottom: $orange solid 2px;
            transition: .7s;
        }
 
        &::placeholder {
            color: darken($text, 15%);
        }
}

.buttonDesign {
    padding: .5em 2em !important;
    font-size: 18px;
    border-radius: 25px;
    border-style: none;
    color: $text;
    background-color: $darkGray;
    border: solid 1px $darkGray;
    box-shadow: 3px 3px 6px black;
    
        &:focus {
          outline: none;  
        }
 
        &:hover {
            cursor: pointer;
            background: lighten($darkGray, 5%);
            border: solid 1px $orange;
            transition: .5s;
        }
}

.mainbox {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
    height: 100vh;
    background-color: #414141;
}

.fullbox {
    padding-top: 60px;
    background-color: #2a2a2a;
    width: auto;
    height: auto;
    margin-left: 0;
    margin-top: 0;
}